body {
  font-family: "Neuton", serif;
  font-size: 24px;
  line-height: 1;
}

h1 {
  font-size: 72px;
}

h2 {
  color: #61892f;
}

.card {
  padding: 5px;
  margin: 10px;
  border: solid 1px black;
  border-radius: 5px;
}
/* header {min-width: 350px;} */

/* Size limiter */
#response-container {
  background-color: #222629;
  color: #6b6e70;
  max-width: 900px;
}
/* !ask about changing parent relationship making entry fields flexible*/
.btn {
  font-size: 24px;
  font-weight: 500;
  min-width: 250px;
  max-width: 900px; /*limiting the button or it looks weird*/
}

.frozen {
  min-width: 150px;
  max-width: 850px;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.hide {
  display: none;
}

.jumbotron {
  margin: 0;
  text-align: center;
  background: rgb(2, 0, 36);
  background: rgb(2, 0, 36);
  background: linear-gradient(
    175deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 170, 36, 1) 68%
  );
  color: white;
  border-radius: 0;
}

.row {
  white-space: pre-wrap;
}

/* Submit buttons */
.btn-add {
  background-color: #fa8bff;
  background-image: linear-gradient(
    45deg,
    #fa8bff 0%,
    #2bd2ff 52%,
    #2bff88 90%
  );
  transition: all 0.5s ease-out;
  background-size: 1px 100px;
  background-position: 0px -10px;
}

/* For dynamic buttons */
.btn-js {
  background-color: #8bffae;
  background-image: linear-gradient(
    45deg,
    #8bffae 10%,
    #2bd2ff 42%,
    #2bff88 80%
  );
  transition: all 0.5s ease-out;
  background-size: 1px 100px;
  background-position: 0px -10px;
}
